<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Recommender Systems

_Authors: Riley Dallas (AUS)_

---

In [1]:
import pandas as pd
import numpy as np
from scipy import sparse
from sklearn.metrics.pairwise import pairwise_distances, cosine_distances, cosine_similarity

## Load `movies.csv` and `ratings.csv`
---

We'll be using the [MovieLens](https://grouplens.org/datasets/movielens/) dataset for building our recommendation engine. There are two CSVs (`movies.csv` and `ratings.csv`) that we'll eventually inner join.

In [2]:
movies = pd.read_csv('../datasets/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings = pd.read_csv('../datasets/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

## Drop unnecessary columns
---

We won't need the `timestamp` column from `ratings`, nor will we need the `genres` column from `movies`. Drop both columns in the cells below.

In [4]:
ratings.drop('timestamp', axis=1, inplace=True)
movies.drop('genres', axis=1, inplace=True)

## Merge `movies` and `ratings`
---

Use `pd.merge` to **inner join** `movies` with `ratings` on the `movieId` column.

In [5]:
df = pd.merge(ratings, movies, on='movieId')
df.shape

(100836, 4)

In [6]:
df.head()

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)

## Create pivot table
---

Because we're creating an item-based collaborative recommender (where item in this case is our movies), we'll set up our pivot table as follows:
1. The `title` will be the index
2. The `userId` will be the column
3. The `rating` will be the value

**If we were building a user-based collaborative recommender, what would change about this pivot table?**

In [7]:
def mean_center_rows(df):
    return (df.T - df.mean(axis=1)).T

In [8]:
pivot = pd.pivot_table(df, index='title', columns='userId', values='rating')

# Optionally mean center
#  - Note that broadcasting an ndarray onto a 2D matrix does not work
#     automatically with a Series, hence must reshape to a col vector
# pivot = pivot - pivot.mean(axis=1).values.reshape(-1,1)
# pivot = mean_center_rows(pivot)

pivot.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
'Hellboy': The Seeds of Creation (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Round Midnight (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Salem's Lot (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Create sparse matrix
---

In a minute, we'll calculate the cosine similarity for each movie using the `pairwise_distances` function. Before that, we need to create a sparse matrix (datatype) using `scipy`'s `sparse` module like so:
```python
sparse.csr_matrix(pivot.fillna(0))
```

In [9]:
sparse_pivot = sparse.csr_matrix(pivot.fillna(0))
print(sparse_pivot)

  (0, 609)	4.0
  (1, 331)	4.0
  (2, 331)	3.5
  (2, 376)	3.5
  (3, 344)	5.0
  (4, 112)	3.0
  (4, 344)	5.0
  (5, 20)	1.5
  (6, 11)	5.0
  (6, 18)	2.0
  (6, 90)	2.0
  (6, 94)	3.0
  (6, 171)	4.0
  (6, 216)	4.0
  (6, 287)	3.0
  (6, 293)	1.0
  (6, 306)	3.5
  (6, 376)	3.5
  (6, 413)	3.0
  (6, 473)	1.0
  (6, 476)	3.5
  (6, 519)	4.0
  (6, 554)	5.0
  (6, 560)	4.5
  (6, 598)	2.0
  :	:
  (9717, 26)	5.0
  (9717, 41)	5.0
  (9717, 56)	2.0
  (9717, 67)	4.0
  (9717, 87)	3.5
  (9717, 140)	3.5
  (9717, 197)	2.0
  (9717, 214)	2.5
  (9717, 216)	2.0
  (9717, 220)	3.5
  (9717, 238)	3.0
  (9717, 281)	4.0
  (9717, 293)	4.0
  (9717, 306)	2.5
  (9717, 312)	1.0
  (9717, 413)	3.0
  (9717, 420)	3.0
  (9717, 447)	3.0
  (9717, 473)	3.0
  (9717, 476)	3.5
  (9717, 554)	3.0
  (9717, 560)	4.0
  (9717, 596)	3.0
  (9717, 598)	2.5
  (9718, 526)	1.0

## Calculate cosine similarity
---

`sklearn` has a built-in `pairwise_distances` function that we can use for our recommender. It will return a square matrix, comparing every movie with every other movie in the dataset.

```python
pairwise_distances(sparse_pivot, metric='cosine')
cosine_distances(sparse_pivot)                     # Identical but more concise
```

In [10]:
# Note that a distance of 1 is a similarity of 0.
# dists = pairwise_distances(sparse_pivot, metric='cosine')
dists = cosine_distances(sparse_pivot)                         # Identical but more concise

dists

array([[0.        , 1.        , 1.        , ..., 0.67267316, 1.        ,
        1.        ],
       [1.        , 0.        , 0.29289322, ..., 1.        , 1.        ,
        1.        ],
       [1.        , 0.29289322, 0.        , ..., 1.        , 1.        ,
        1.        ],
       ...,
       [0.67267316, 1.        , 1.        , ..., 0.        , 1.        ,
        1.        ],
       [1.        , 1.        , 1.        , ..., 1.        , 0.        ,
        1.        ],
       [1.        , 1.        , 1.        , ..., 1.        , 1.        ,
        0.        ]])

However, note that distance is not the same as similarity. For example, a similarity of 1 is a distance of 0! 

Because of this, the similarity is defined as 1 - dist. To compute this, we can use `cosine_similarity` instead.

In [11]:
# Here, similarity is 1 - distance.
similarities = cosine_similarity(sparse_pivot)

In [12]:
# Verify they are the same
np.all(np.isclose((1.0 - dists), similarities))

True

## Create distances DataFrame
---

At this point, we essentially have a recommender. We'll load it into a `pandas` DataFrame for readability. 

You'll notice that each movie has a "distance" of 0 with itself (along the diagonal).

In [13]:
recommender_df = pd.DataFrame(dists, columns=pivot.index, index=pivot.index)
recommender_df.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.0,0.858347,1.0,...,1.0,0.657945,0.456695,0.292893,1.0,1.0,0.860569,0.672673,1.0,1.0
'Hellboy': The Seeds of Creation (2004),1.0,0.000000,0.292893,1.000000,1.000000,1.0,1.000000,1.0,1.000000,1.0,...,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,1.0,1.0
'Round Midnight (1986),1.0,0.292893,0.000000,1.000000,1.000000,1.0,0.823223,1.0,1.000000,1.0,...,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,1.0,1.0
'Salem's Lot (2004),1.0,1.000000,1.000000,0.000000,0.142507,1.0,1.000000,1.0,1.000000,1.0,...,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,1.0,1.0
'Til There Was You (1997),1.0,1.000000,1.000000,0.142507,0.000000,1.0,1.000000,1.0,1.000000,1.0,...,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,1.0,1.0

## Evaluate recommender performance
---

Now comes the fun part! Let's check out a few movies to see if the recommender aligns with our intuition. In the cell below we'll do the following:
1. Create a search term
2. Use that to find all titles matching the search query
3. For each title, we'll list off the following:
  1. The average rating
  2. The number of ratings
  3. The ten most similar movies

In [15]:
# 10 most similar movies to "Godfather, The (1972)"
recommender_df['Godfather, The (1972)'].sort_values()[1:11]

title
Godfather: Part II, The (1974)                           0.178227
Goodfellas (1990)                                        0.335159
One Flew Over the Cuckoo's Nest (1975)                   0.379464
Star Wars: Episode IV - A New Hope (1977)                0.404683
Fargo (1996)                                             0.411386
Star Wars: Episode V - The Empire Strikes Back (1980)    0.413970
Fight Club (1999)                                        0.418721
Reservoir Dogs (1992)                                    0.420941
Pulp Fiction (1994)                                      0.424730
American Beauty (1999)                                   0.424988
Name: Godfather, The (1972), dtype: float64

In [16]:
def recommend_movie(search):
    titles = pivot.filter(like='Matrix', axis='index').index

    for title in titles:
        print(title)
        print('Average rating', pivot.loc[title].mean())
        print('Number of ratings', pivot.loc[title].count())
        print('')
        print('10 closest movies')
        print(recommender_df[title].sort_values()[1:11])
        print('')
        print('*******************************************************************************************')
        print('')
    
recommend_movie(search = 'Matrix')

Matrix Reloaded, The (2003)
Average rating 3.3541666666666665
Number of ratings 96

10 closest movies
title
Matrix Revolutions, The (2003)                                   0.239554
X2: X-Men United (2003)                                          0.354505
Star Wars: Episode II - Attack of the Clones (2002)              0.369681
Spider-Man (2002)                                                0.387891
Batman Begins (2005)                                             0.389335
Pirates of the Caribbean: The Curse of the Black Pearl (2003)    0.389771
I, Robot (2004)                                                  0.392716
Minority Report (2002)                                           0.393063
Sin City (2005)                                                  0.395125
X-Men: The Last Stand (2006)                                     0.397057
Name: Matrix Reloaded, The (2003), dtype: float64

*******************************************************************************************

Matrix Revolutions, The (2003)
Average rating 3.151898734177215
Number of ratings 79

10 closest movies
title
Matrix Reloaded, The (2003)                                      0.239554
I, Robot (2004)                                                  0.376194
X-Men: The Last Stand (2006)                                     0.386985
Star Wars: Episode III - Revenge of the Sith (2005)              0.408071
Spider-Man (2002)                                                0.427647
300 (2007)                                                       0.427773
Day After Tomorrow, The (2004)                                   0.435074
Pirates of the Caribbean: The Curse of the Black Pearl (2003)    0.435978
Star Wars: Episode II - Attack of the Clones (2002)              0.436208
Sin City (2005)                                                  0.438855
Name: Matrix Revolutions, The (2003), dtype: float64

*******************************************************************************************

Matrix, The (1999)
Average rating 4.192446043165468
Number of ratings 278

10 closest movies
title
Fight Club (1999)                                                                 0.286063
Star Wars: Episode V - The Empire Strikes Back (1980)                             0.299065
Saving Private Ryan (1998)                                                        0.320385
Star Wars: Episode IV - A New Hope (1977)                                         0.336553
Star Wars: Episode VI - Return of the Jedi (1983)                                 0.339016
Lord of the Rings: The Fellowship of the Ring, The (2001)                         0.345872
Sixth Sense, The (1999)                                                           0.348693
Lord of the Rings: The Return of the King, The (2003)                             0.359797
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    0.368893
Gladiator (2000)                                                                  0.373917
Name: Matrix, The (1999), dtype: float64

*******************************************************************************************